.nav-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;    
}

.nav-left ul {
    padding: 0;
    margin-left: 15px;
}

.nav-left li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    border-radius:  3px;
    transition-duration: .2s;
    border: 2px solid #0D0A0B;
    margin: 5px;
    background-color: #3F7D20;
}

.nav-left li:hover {
    background-color: #F3EFF5;
}

.action-button {
    display:block;
    text-decoration: none;
    padding: 5px;
    color: black;
    font-weight: bold;
}

.action-button.active {
    background-color: #8cd821;
}

@media all and (max-width: 640px){ 
    .nav-left ul {
        margin-left: 0;
    }
    .actions {
        display: flex;
        flex-direction: row;
        margin: 10px 0px;
    }
    .actions li{
        flex: 1;
        margin: 10px;
    }

}

@media all and (max-width: 585px){ 
    .switch-left, .one-line-left{
        padding: 16px 0px;
    }
}

@media all and (max-width: 486px){ 
    .switch-left {
        padding: 5px;
    }
    
}