.complete-schedule {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: 10px;    
}

.num-roles {
    width: 70px
}

.hidden {
    display: none
}

.green {
    color: green;
    font-weight: bold;
}

.sharing-button {
    color: green;
}

.save-button {
    color: green;
}

.complete-schedule li {
    list-style: none;
    padding-bottom: 5px;
}

.complete-schedule .controls table {
    margin: auto;
    margin-bottom: 20px;
    width: 300px;
    text-align: left;
}

.complete-schedule input {
    width: 45px;
    margin-left: 10px;
}

.complete-schedule .schedule-table {
    margin-bottom: 20px;
}

.complete-schedule .schedule-table td{
    text-align: left;
}

.complete-schedule button {
    background-color: #72B01D; 
    border: 2px solid #454955;
    padding: 7px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition-duration: .3s;
    margin: 10px auto;
    width: 250px;
}

.complete-schedule button:hover {
    background-color: #98E72C;
}

.complete-schedule button:active {
    background-color: #3F7D20;
}

@media all and (max-width: 486px){
    .complete-schedule table{
        margin: 20px 0px;
    } 
    .schedule-table,  .complete-schedule table select{
        font-size: 12px;
    }
    
}