.complete-schedule {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: 10px;    
}

.num-roles {
    width: 70px
}

.hidden {
    display: none
}

.green {
    color: green;
    font-weight: bold;
}

.sharing-button {
    color: green;
}

.save-button {
    color: green;
}